@page
@model Contacts.IndexModel
@{
    ViewData["Message"] = "Information Received";
}

<h4>Information Received</h4>
<p>
    Please note that your information has been received 
    and someone will be in contact shortly.
</p>
